.home-container{
    margin-top: 56px;
    width: 100%;
    height: calc(100vh - 56px);
    box-sizing: border-box;
}

.slide-container{
    width: 100%;
    height: calc(100vh - 56px);
    background-color: black;
}

slide-item{
    height: calc(100vh - 56px);
}

.slide-image{
    width: 100%;
    height: calc(100vh - 56px);
}

.slide-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide-content{
    padding: 10px 0 20px;
}

.carousel-control-prev, .carousel-control-next{
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 80px;
    padding: 0;
    color: #fff;
    text-align: center;
    background: rgba(0,0,0,0.2);
    border: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
}

.carousel-control-prev{
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.carousel-control-next{
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.slide-container:hover .carousel-control-prev,
.slide-container:hover .carousel-control-next{
    opacity: 1;
}